{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{% static '/images/minilogo.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">
        {% block extra_css %}{% endblock %}
    </head>
    <body>
    <nav>
        <div class="maintext">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/Logo.jpg' %}" alt="">
            </a>
        </div>
        <input class="menu-btn" type="checkbox" id="menu-btn"/>
        <label class="menu-icon" for="menu-btn">
            <span class="nav-icon"></span>
        </label>
        <ul>
            <li><a href="{% url "index" %}">Domů</a></li>
            <li><a href="{% url "calculate_tax" %}">Měsíční</a></li>
            <li><a href="{% url "calculate_tax2" %}">Roční</a></li>
            <li><a href="{% url "result_history" %}">Historie</a></li>
            <li><a href="{% url "novinky" %}">Novinky</a></li>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <li><a href="{% url "admin:index" %}">Admin page</a></li>
                {% endif %}
                <li><a href="{% url "password_change" %}">Změnit heslo</a></li>
                <li><a href="{% url "logout" %}">Odhlásit</a></li>
            {% else %}
                <li><a href="{% url "registration" %}">Registrace</a></li>
                <li><a href="{% url "login" %}">Přihlásit</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                // Check if results are already present on page load and scroll to them
                const resultsSection = document.getElementById('results-section');
                if (resultsSection && resultsSection.textContent.trim() !== '') {
                    scrollToResults();
                }

                const form = document.querySelector('.tax-form');
                if (form) {
                    form.addEventListener('submit', function(e) {
                        e.preventDefault(); // Prevent default form submission initially

                        // Submit the form with AJAX or similar method here
                        // For now, we will simulate form submission by waiting then scrolling
                        setTimeout(() => {
                            form.submit(); // This will refresh the page or update content
                            // If using AJAX, put scrollToResults() in the success callback instead
                        }, 500); // Simulate async operation like server request
                    });
                }

                function scrollToResults() {
                    if (resultsSection) {
                        resultsSection.scrollIntoView({behavior: 'smooth'});
                    }
                }
            });
        </script>
    <script>
        // When the document is ready
        document.addEventListener('DOMContentLoaded', function() {
            // Find all elements with class 'alert' and loop through them
            document.querySelectorAll('.alert').forEach(function(element) {
                // Set timeout to fade out the alert after 5 seconds (5000 milliseconds)
                setTimeout(function() {
                    // Fade out the alert slowly
                    element.style.opacity = '0';
                    // Set another timeout to completely hide the alert after it has faded out
                    setTimeout(function() {
                        element.style.display = 'none';
                    }, 600); // Wait an additional 0.6 seconds for the fade out to finish
                }, 5000); // Change 5000 to the number of milliseconds you want the alert to be visible for
            });
        });
    </script>
    </body>
    <footer class="footer">
        <div class="konec">
            <div class="rada">
                <div class="footer-sloup">
                    <ul>
                        <img src="{% static 'images/minilogo.png' %}" alt="">
                    </ul>
                </div>
                <div class="footer-sloup">
                    <h4>Kontakt</h4>
                    <ul>
                        <li style="color: #bbbbbb;"><i class="fas fa-map-marker-alt" style="color: white;"></i> Daně na dlani s.r.o.</li>
                        <li style="color: #bbbbbb;"><i class="fas fa-building" style="color: white;"></i> Brno, Hudcova 98, 621 00</li>
                        <li style="color: #bbbbbb;"><i class="fas fa-clock" style="color: white;"></i> Po-Pá od 9:00 do 17:00</li>
                        <li style="color: #bbbbbb;"><i class="fas fa-envelope" style="color: white;"></i> info@danenadlani.cz</li>
                        <li style="color: #bbbbbb;"><i class="fas fa-phone" style="color: white;"></i> +420 456 594 937</li>
                    </ul>
                </div>
                <div class="footer-sloup">
                    <h4>Aplikace</h4>
                    <ul>
                        <li><a href="{% url "calculate_tax" %}">Měsíční kalkulačka</a></li>
                        <li><a href="{% url "calculate_tax2" %}">Roční kalkulačka</a></li>
                    </ul>
                </div>
                <div class="footer-sloup">
                    <h4>Sledujte nás</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/?locale=cs_CZ"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/?lang=cs"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://cz.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="copy-right">
                    © 2024 Daně na dlani s.r.o. Všechna práva vyhrazena.
                </div>
            </div>
        </div>
    </footer>
</html>
