{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="index_home">
        <div class="index_text">
        <h1>Daňová kalkulačka pro fyzické osoby na rok 2024</h1>
        <p> Naše daňová kalkulačka je speciálně navržena pro účetní a pomáhá rychle a efektivně
            vypočítat daň z příjmů fyzických osob. S intuitivním rozhraním a aktualizovanými daňovými sazbami si můžete být jisti,
            že vaše daňové výpočty budou přesné a v souladu s nejnovějšími daty.</p>
            <a class ="začít" href={% url "calculate_tax" %}>měsíční<i class="las la-arrow-right"></i></a>
            <a class="začít" href="{% url "calculate_tax2" %}">roční<i class="las la-arrow-right"></i></a>
        </div>
        <div class="index_img">
            <img src="{% static 'images/weblep(2).png' %}">
        </div>
        <div class="funkce">
            <div class="funkce-o">
                <h3>Výhody</h3>
                <p>Naše online kalkulačka zajišťuje přesné a aktuální výpočty daní,
                    nabízí snadné použití a rychlé výsledky. S naší platformou ušetříte
                    čas a zajistíte si bezpečnost vašich dat oproti tradičním metodám.</p>
            </div>
            <div class="proc">
                <h3>Proč tato aplikace?</h3>
                <p>Je uživatelsky přívětivá, efektivní a vždy aktuální. Ušetříte čas a úsilí díky automatickým aktualizacím a snadnou funkčností.
                    Zjednodušte si daňové plánování s naší pokročilou kalkulačkou.</p>
            </div>
        </div>
        <div class="sipka"></div>
    </div>
    <section class="onas">
        <div class="onas1">
            <h2>Funkce</h2>
            <p>
                Naše kalkulačka nabízí rychlé, přesné a bezpečné výpočty daní s intuitivním uživatelským rozhraním.</p>
        </div>
        <div class="box">
            <!--box-1-------->
            <div class="boxik">
                <img src="{% static 'images/login.svg' %}">
                <font>Přihlášení do Aplikace</font>
                <p>Přihlaste se do naší bezpečné aplikace a získejte okamžitý přístup ke všem svým daňovým výpočtům.</p>
                <!--btn--------->
                <a href={% url "login" %}>Přihlásit se</a>
            </div>
            <!--box-2-------->
            <div class="boxik">
                <img src="{% static 'images/account view.svg' %}">
                <font>Prohlédněte si Výsledky</font>
                <p>Zaregistrujte se a rohlédněte si detaily vašich výpočtů a přesvědčte se o jejich správnosti. Můžete nás také snadno přímo kontaktovat pro další podporu.</p>
                <!--btn--------->
                <a href={% url "result_history" %}>Historie</a>
            </div>
            <!--box-3-------->
            <div class="boxik">
                <img src="{% static 'images/payment method.svg' %}">
                <font>Kalkulačka</font>
                <p>Využijte naši měsíční kalkulačku pro okamžitý odhad vaší daňové povinnosti za aktuální měsíc. Ideální pro rychlé a jednoduché spravování firemních financí.</p>
                <!--btn--------->
                <a href={% url "calculate_tax" %}>Kalkulačka</a>
            </div>
            <!--box-4-------->
            <div class="boxik">
                <img src="{% static 'images/lock.svg' %}">
                <font>Roční Souhrn</font>
                <p>S naší roční kalkulačkou získáte kompletní přehled o vašich daňových závazcích za celý rok. Tato funkce vám pomůže připravit si daně s předstihem.</p>
                <!--btn--------->
                <a href={% url "calculate_tax2" %}>Kalkulačka</a>
            </div>
            <!--box-5-------->
            <div class="boxik">
                <img src="{% static 'images/document.svg' %}">
                <font>Historie Výpočtů</font>
                <p>Po registraci uchovávejte historii všech vašich daňových výpočtů na jednom místě. Snadno se tak vrátíte k předchozím výpočtům pro srovnání nebo revizi.</p>
                <!--btn--------->
                <a href={% url "result_history" %}>Historie</a>
            </div>
        </div>
    </section>
{% endblock %}