{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="login-container">
        <form method="post" action="." class="login-form">
            {% csrf_token %}
            <h2>Reset hesla pomocí e-mailu</h2>
            <div class="form-field">
                {{ form.email.label_tag }} <!-- Assuming 'email' is the name of the field in your reset form -->
                {{ form.email }}
            </div>
            <!-- Include any additional form fields here, following the pattern above -->
            <div class="form-actions">
                <input type="submit" value="Poslat e-mail" class="submit-btn">
            </div>
            <div class="form-footer">
                <a class="forgot-password" href="{% url "login" %}">Zpátky na přihlášení</a> <!-- Adjusted to offer a return to the login page -->
            </div>
        </form>
    </div>
{% endblock %}