{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="login-container">
        <form method="post" action="." class="login-form">
            {% csrf_token %}
            <h2>Změna hesla</h2>

            {% for field in form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey;">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="form-actions">
                <input type="submit" value="Změnit heslo" class="submit-btn">
            </div>
        </form>
    </div>
{% endblock %}